<section class="artists-section" id="artists-section">
  <div class="container">
    <div class="artists-header">
      <span class="artists-small-title">Artists</span>
      <h2 class="artists-section-title">Explore Your New Favorite Artists</h2>
    </div>

    <div class="artists-layout">
      <div class="title-and-filters-container">
        <p class="filters-title">Filters</p>
        <div class="search-and-filters-container">
          <div class="search-and-filters-opener">
            <span class="search-and-filters-title">Search and Filters</span>
            <svg class="icon-chevron" width="24" height="24">
              <use href="./img/sprite.svg#icon-chevron-up-arrow"></use>
            </svg>
          </div>
          <aside class="filters-panel">
            <div class="filters-header">
              <h3>Filters</h3>
              <button id="resetBtn">Reset</button>
            </div>

            <div class="wrapper-search">
              <svg class="icon-search" width="24" height="24">
                <use href="./img/sprite.svg#icon-search"></use>
              </svg>
              <input type="text" id="searchInput" placeholder="Search" />
            </div>

            <div class="custom-dropdown" id="sortingDropdown">
              <div class="custom-dropdown-toggle" id="sortingToggle">
                <span class="dropdown-title">Sorting</span>
                <svg class="icon-chevron" width="24" height="24">
                  <use href="./img/sprite.svg#icon-chevron-up-arrow"></use>
                </svg>
              </div>
              <div class="custom-dropdown-menu" id="sortingList">
                <div class="dropdown-item" data-value="default">Default</div>
                <div class="dropdown-item" data-value="asc">A-Z</div>
                <div class="dropdown-item" data-value="desc">Z-A</div>
              </div>
            </div>

            <div class="custom-dropdown" id="genreDropdown">
              <div class="custom-dropdown-toggle" id="genreToggle">
                <span class="dropdown-title">Genres</span>
                <svg class="icon-chevron" width="24" height="25">
                  <use href="./img/sprite.svg#icon-chevron-up-arrow"></use>
                </svg>
              </div>
              <div class="custom-dropdown-menu" id="genreList"></div>
            </div>
          </aside>
        </div>
      </div>

      <div class="artists-card-container">
        <ul id="artists-card-id" class="artists-card"></ul>
        <div id="spinner" class="spinner hidden"></div>

        <div id="emptyState" class="empty-state hidden">
          <svg class="icon-error-artists" width="32" height="32">
            <use href="./img/sprite.svg#icon-error-circle"></use>
          </svg>
          <div class="empty-card">
            <p class="empty-title">Silence on the stage…</p>
            <p class="empty-desc">
              Looks like no artists match your filters.<br />
              Try changing them or hit “Reset Filters” to bring back the beat.
            </p>
            <button id="resetFiltersBtn">Reset filters</button>
          </div>
        </div>

        <button id="load-more-btn" class="load-more-button">
          <span class="button-text">Load More</span>
          <svg class="icon-loadmore" width="24" height="24">
            <use href="./img/sprite.svg#icon-down-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
