<section id="reviews-section" class="feedback-section">
  <div class="container">
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg width="24" height="24">
          <use href="./img/sprite.svg#icon-left-arrow-alt"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="14" height="14">
          <use href="./img/sprite.svg#icon-right-arrow-alt"></use>
        </svg>
      </div>
    </div>
    <div class="leave-feedback">
      <button class="feedback-btn" type="button">Leave feedback</button>
    </div>
  </div>
</section>
