<header class="header">
  <div class="container header-container">
    <a class="logo-link" href="./index.html">
      <svg class="logo-icon" width="106" height="30" aria-label="Logo">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="btn-burger-header" type="button">
      <svg class="icon-burger" width="24" height="24" aria-label="Menu">
        <use href="./img/sprite.svg#icon-menu-alt-right"></use>
      </svg>
    </button>

    <nav class="nav-header">
      <ul class="nav-list-header">
        <li class="nav-item-header">
          <a class="nav-link-header nav-link-menu" href="#artists-section"
            >Artists</a
          >
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header nav-link-menu" href="#about-section"
            >About Us</a
          >
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header nav-link-menu" href="#reviews-section"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-menu-container">
      <div class="container container-menu">
        <div class="menu-container-head">
          <a class="logo-link" href="./index.html">
            <svg class="logo-icon" width="106" height="30" aria-label="Logo">
              <use href="./img/sprite.svg#icon-logo"></use>
            </svg>
          </a>
          <button class="btn-close-header-menu" type="button">
            <svg
              class="icon-close"
              width="24"
              height="24"
              aria-label="Menu-Close"
            >
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>

        <nav class="nav-list-menu">
          <ul class="nav-list-header nav-list-header-menu">
            <li class="nav-item-header">
              <a
                class="nav-link-header"
                id="menu-anchor-artists"
                href="#artists-section"
                >Artists</a
              >
            </li>
            <li class="nav-item-header">
              <a
                class="nav-link-header"
                id="menu-anchor-about"
                href="#about-section"
                >About Us</a
              >
            </li>
            <li class="nav-item-header">
              <a
                class="nav-link-header"
                id="menu-anchor-reviews"
                href="#reviews-section"
                >Reviews</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
