<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
      <p class="hero-subtitle">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#artists-section" class="hero-button"
        ><span class="hero-button-text">Explore Artists</span
        ><svg class="icon-btn-hero" width="24" height="24">
          <use href="./img/sprite.svg#icon-right-arrow-hero"></use>
        </svg>
      </a>
    </div>
    <div class="hero-image"></div>
  </div>
</section>
