.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.modal-overlay-artists {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay-artists.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 288px;
  width: 100%;
  height: 100%;
  padding: 52px 8px;
  overflow: auto;
  background-color: #060307;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 2px;
    border: 1px solid #2a2a2a;
  }
}

.modal-overlay-artists:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  margin: 9px 9px;
}

.close-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #764191;
}

.modal-info-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  font-family: 'Epilogue', sans-serif;
}

.modal-info-card {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.ph-artist {
  border-radius: 16px;
}

.modal-info-list {
  display: flex;
  gap: 16px;
}

.biography {
  margin-bottom: 16px;
}

.wrapp {
  display: flex;
  flex-direction: column;
}

.modal-info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.detail-label {
  font-weight: 600;
  line-height: 150%;
}

.detail-value,
.modal-info-bio {
  display: -webkit-box;
  line-height: 150%;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genres {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.genre-tag {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.modal-alboms-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.modal-alboms {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal-alboms-list-item {
  border-radius: 16px;
  padding: 14px 11px;
  background-color: #1e1c1f;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.albom-list-title {
  margin-bottom: 12px;
}

.modal-alboms-list-item li:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.modal-alboms-list-item li.albom-track span:nth-child(1) {
  flex-basis: 60%;
}

.modal-alboms-list-item li.albom-track span:nth-child(2) {
  flex-basis: 20%;
}

.modal-alboms-list-item li.albom-track a:nth-child(3) {
  flex-basis: 10%;
  text-align: right;
}

.albom-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.modal-alboms-list-item li.track-info {
  font-weight: 600;
  line-height: 150%;
  font-size: 8px;

  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  align-items: center;
}

.modal-alboms-list-item li.track-info span:nth-child(1) {
  flex-basis: 60%;
}

.modal-alboms-list-item li.track-info span:nth-child(2) {
  flex-basis: 20%;
  text-align: left;
}

.modal-alboms-list-item li.track-info span:nth-child(3) {
  flex-basis: 10%;
  text-align: left;
}

.albom-track {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}

.link-icon-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.link-icon-youtube:hover .icon-you-tube,
.link-icon-youtube:focus .icon-you-tube {
  fill: #764191;
}

.icon-you-tube {
  display: block;
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-alboms-list-item li.albom-track .youtube-link-placeholder {
  flex-basis: 10%;
  text-align: right;
  min-width: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-loader.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background-color: transparent;
}

.modal-loader.loader {
  display: block;
}

.artist-card-link {
  transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.artist-card-link .icon-lernmore {
  transition: fill 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.artist-card-link:hover,
.artist-card-link:focus {
  color: #764191;
}

.artist-card-link:hover .icon-lernmore,
.artist-card-link:focus .icon-lernmore {
  fill: #764191;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 702px;
    padding: 64px 24px;
    gap: 48px;

    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: #2a2a2a;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #414141;
      border-radius: 4px;
      border: 2px solid #2a2a2a;
    }
  }

  .close-btn {
    margin: 16px 47px;
  }

  .modal-info-title {
    font-size: 32px;
  }

  .modal-info-list {
    gap: 24px;
    align-items: stretch;
  }

  .biography {
    margin-bottom: 24px;
  }

  .modal-info-item {
    min-width: 150px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .wrapp {
    margin-bottom: 24px;
    flex-direction: row;
  }

  .genres {
    margin-bottom: 0;
  }

  .modal-alboms {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .modal-alboms-list-item {
    width: calc((100% - 32px) / 2);
  }

  .albom-track {
    gap: 16px;
    padding: 4px 12px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    max-width: 1312px;
    padding: 64px;
  }

  .modal-overlay-artists .container {
    max-width: 1312px;
    width: 100%;
    padding: 0 64px;
  }

  .modal-alboms-list-item {
    width: calc((100% - 96px) / 4);
  }

  .close-btn {
    margin: 16px 16px;
  }

  .modal-info-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .modal-info-item {
    min-width: 150px;
  }

  .albom-track {
    gap: 12px;
  }
}
