

.hidden {
  display: none !important;
}

body.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(20, 20, 20, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-mod {
  transform: scale(0.95);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}

.modal-overlay.is-open .feedback-mod {
  transform: scale(1);
  opacity: 1;
}

.feedback-mod {
  background-color: #0f0f10;
  border-radius: 16px;
  padding: 16px;
  width: 320px;
  min-width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  position: relative;
}

.close-btn-mod {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-btn-mod:hover {
  transition: 0.4s;
  color: #a76cdb;
}

.feedback-mod h1 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-top: 48px;
}

.feedback-mod label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 8px;
  margin-bottom: 32px;
}

.feedback-mod input[type='text'],
.feedback-mod textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #0f0f10;
  color: white;
  font-size: 14px;
  outline: none;
}

.feedback-mod textarea {
  height: 130px;
  resize: none;
}

.feedback-mod button[type='submit'] {
  background: #a76cdb;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.feedback-mod button[type='submit']:hover {
  background: #8e44ad;
}

.star-rating {
  display: flex;
  gap: 8px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 32px;
  font-family: Arial, sans-serif;
}

.star-rating .star {
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating .star:hover,
.star-rating .star.active {
  color: #8e44ad;
}

@media screen and (min-width: 768px) {
  .feedback-mod {
    border-radius: 16px;
    width: 704px;
    padding: 32px;
  }

  .feedback-mod h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 48px;
  }

  .feedback-mod button[type='submit'] {
    border-radius: 12px;
    padding: 10px 24px;
    width: 340px;
    height: 47px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .feedback-mod {
    border-radius: 16px;
    padding: 64px;
    width: 864px;
  }
  .feedback-mod button[type='submit'] {
    border-radius: 12px;
    padding: 10px 24px;
    width: 108px;
    height: 47px;
  }
  .feedback-mod h1 {
    font-size: 60px;
  }
}

.loader-in {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }

  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }

  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}

.modal-bio {
  max-height: 300px;
  overflow-y: auto;
}

