.artists-layout {
  display: flex;
  flex-direction: column;
}

.search-and-filters-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.artists-header {
  margin-bottom: 32px;
}

.artists-small-title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.artists-section-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin: 0;
}

.icon-chevron {
  fill: #fff;
}

.icon-search {
  fill: #fff;
  transition: fill 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-search:hover,
.icon-search:focus {
  fill: #764191;
}

.filters-panel {
  width: 100%;
  max-width: 288px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(6, 3, 7, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: #1e1c1f;
  flex-shrink: 0;
  display: none;
}

.filters-panel.open {
  display: block;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
}

.filters-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

#resetBtn {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#resetBtn:hover,
#resetBtn:focus {
  color: #fff;
}

.wrapper-search {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  background-color: #1e1c1f;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-and-filters-opener {
  background-color: #1e1c1f;
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 12px;
  max-width: 288px;
  width: 100%;
}

.search-and-filters-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

#searchInput {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
}

.custom-dropdown {
  background-color: #1e1c1f;
}

.custom-dropdown:not(:last-child) {
  margin-bottom: 12px;
}

.custom-dropdown-toggle {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #1e1c1f;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown-menu {
  display: none;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #0d0d0d;
  z-index: 20;
}

.custom-dropdown.open .custom-dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #1a1a1a;
}

.custom-dropdown-menu::-webkit-scrollbar {
  width: 8px;
}
.custom-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  border-radius: 6px;
}
.custom-dropdown-menu {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 transparent;
}

.empty-state {
  display: flex;
  flex-direction: column;
  border: 1px solid #262626;
  padding: 16px;
  background-color: #1a1124;
  border-radius: 12px;
  width: 100%;
  gap: 24px;
}

#resetFiltersBtn:hover,
#resetFiltersBtn:focus {
  color: #fff;
  background-color: #764191;
}

.icon-error-artists {
  fill: #fff;
}

.empty-card {
  max-width: 976px;
}

.empty-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.empty-desc {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #ffffff;
}

#resetFiltersBtn {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.title-and-filters-container {
  width: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
}

@media (min-width: 768px) {
  .artists-section-title {
    max-width: 582px;
    width: 100%;
  }

  .empty-state {
    margin-top: 16px;
  }

  .filters-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0;
  }

  .title-and-filters-container {
    flex-direction: row;
    justify-content: end;
    height: 48px;
    margin-bottom: 16px;
  }

  .search-and-filters-opener {
    padding: 10px 24px;
    max-width: 233px;
    width: 100%;
  }

  .filters-panel {
    max-width: 303px;
    width: 100%;
  }

  #resetFiltersBtn {
    padding: 10px 24px;
    max-width: 148px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
  }
}

@media (min-width: 1440px) {
  .filters-title {
    display: none;
  }

  .search-and-filters-opener {
    display: none;
  }

  .title-and-filters-container {
    max-width: 304px;
    width: 100%;
    margin-right: 32px;
    justify-content: start;
    margin-bottom: 0;
  }

  .empty-state {
    margin-top: 0;
  }
  .search-and-filters-container {
    max-width: 304px;
    width: 100%;
  }

  .artists-layout {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .filters-panel {
    max-width: 304px;
    width: 100%;
    display: block;
  }

  .artists-card-container {
    width: 100%;
  }

  .icon-error-artists {
    width: 40px;
    height: 40px;
  }

  .empty-state {
    padding: 32px;
  }

  .empty-title {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }

  .empty-desc {
    width: 560px;
  }

  #resetFiltersBtn {
    padding: 10px 24px;
    max-width: 148px;
    width: 100%;
  }

  .artists-section-title {
    font-size: 84px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    max-width: 863px;
    width: 100%;
  }

  .filters-panel {
    background-color: #060307;
  }

  .wrapper-search {
    background-color: #060307;
  }

  .custom-dropdown-toggle {
    background-color: #060307;
  }

  .custom-dropdown-menu {
    background-color: #060307;
  }
}
