.ftr {
  padding: 48px 0;
}

.ftr-container {
  margin-bottom: 48px;
}
.href-social-icon {
  fill: #764191;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
}

.ftr-social .icon-svg {
  transition: fill 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ftr-social:hover .icon-svg,
.ftr-social:focus .icon-svg {
  fill: #764191;
}

.nav-item-footer .nav-link-footer {
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-item-footer:hover .nav-link-footer,
.nav-item-footer .nav-link-footer:focus {
  color: #764191;
}

.logo-icon-footer {
  fill: #764191;
}
.nav-list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 32px;
  gap: 32px;
}

.nav-link-footer {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.ftr-divcont {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.ftr-soc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 24px 0 24px 0;
}
.social-list-ftr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
  margin: 0 0 0 0;
}

.icon-svg {
  fill: #fff;
}
.p-ftr {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .ftr-soc-container {
    flex-direction: row-reverse;
    padding: 24px 0 0 0;
  }

  .ftr {
    padding: 80px 0;
  }
  .p-ftr {
    margin: 0 auto 0 0;
  }
  .nav-list-footer {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
  .ftr-container {
    margin-bottom: 80px;
  }
}

/* Desktop  */
@media screen and (min-width: 1440px) {
  .ftr-soc-container {
    flex-direction: row-reverse;
    padding: 24px 0 0 0;
  }
  .p-ftr {
    margin: 0 auto 0 0;
  }
  .nav-list-footer {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
}
