.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 64px;
  background-color: #060307;
  display: flex;
  align-items: center;
}

body {
  padding-top: 64px;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header-container {
    align-items: center;
  }
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-icon {
  fill: #764191;
}

.btn-burger-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.icon-burger {
  fill: #ffffff;
  transition: fill 0.1s ease-in-out;
}

.btn-burger-header:hover .icon-burger,
.btn-burger-header:focus .icon-burger {
  fill: #764191;
}

.btn-burger-header:focus {
  fill: #764191;
}

.nav-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }
  .header-container {
    padding: 0 64px;
  }

  .btn-burger-header {
    display: none;
  }

  .logo-icon {
    fill: #fff;
  }

  .nav-header {
    display: flex;
  }

  .nav-list-header {
    display: flex;
    gap: 32px;
  }

  .nav-link-header {
    color: #ffffff;
    line-height: 1.5;
  }
}

.header-menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #060307;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.header-menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 39px;
  padding: 20px 0;
}

.nav-list-header-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
}

.nav-link-header {
  transition: color 0.1s ease-in-out;
}

.nav-link-header:hover,
.nav-link-header:focus {
  color: #764191;
}

.btn-close-header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.icon-close {
  transition: fill 0.1s ease-in-out;
  fill: #ffffff;
}

.btn-close-header-menu:hover .icon-close,
.btn-close-header-menu:focus .icon-close {
  fill: #764191;
}
