.hero-section {
  background-color: #23132b;
  position: relative;
  overflow: hidden;
  padding-top: 64px;
}

.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  background-image: linear-gradient(
      to top,
      rgba(35, 19, 43, 0) 0%,
      rgba(6, 3, 7, 0.2) 90%,
      #060307 100%
    ),
    linear-gradient(
      to bottom,
      rgba(35, 19, 43, 0) 0%,
      rgba(6, 3, 7, 0.1) 90%,
      #060307 100%
    );
}

.hero-container {
  color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  max-width: 280px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  height: auto;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
  max-width: 280px;
}

.hero-content {
  margin-bottom: 64px;
}

.hero-button {
  display: flex;
  border-radius: 12px;
  padding: 10px 61px;
  max-width: 280px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #a852d3;
}

.hero-btn-text {
  width: 100%;
}

.icon-btn-hero {
  display: flex;
  margin-left: 12px;
  fill: white;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero-button-text {
  width: 100%;
}

.hero-image {
  height: 385px;
  background-image: url(/src/img/hero-images/hero-image-mobile@1x.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-container,
.hero-image {
  position: relative;
  z-index: 1;
}

@media (min-resolution: 192dpi), (min-resolution: 2x) {
  .hero-image {
    background-image: url(/src/img/hero-images/hero-image-mobile@2x.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero-button {
    padding: 10px 44px;
    max-width: 246px;
    width: 100%;
  }
  .hero-title {
    margin-bottom: 24px;
    max-width: 624px;
  }

  .hero-content {
    margin-bottom: 32px;
  }

  .hero-subtitle {
    font-size: 20px;
    margin-bottom: 32px;
    max-width: 624px;
  }

  .hero-content {
    margin-bottom: 32px;
  }

  .hero-image {
    width: 704px;
    height: 632px;
    background-image: url(/src/img/hero-images/hero-image-tablet@1x.webp);
    background-position: left;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2x) {
    .hero-image {
      background-image: url(/src/img/hero-images/hero-image-tablet@2x.webp);
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-button {
    padding: 10px 24px;
    max-width: 206px;
    width: 100%;
  }

  .hero-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
  }

  .hero-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 31px;
  }

  .hero-content {
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 84px;
    max-width: 640px;
  }

  .hero-subtitle {
    max-width: 640px;
  }

  .hero-image {
    margin: 0;
    width: 641px;
    height: 900px;
    background-image: url(/src/img/hero-images/hero-image-desktop@1x.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2x) {
    .hero-image {
      background-image: url(/src/img/hero-images/hero-image-desktop@2x.webp);
    }
  }
}
