@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');
@import url('./loader.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./artists.css');
@import url('./filters.css');

@import url('./artist-modal.css');
@import url('./about-us.css');
@import url('./feedback.css');
@import url('./feedback-modal.css');
@import url('./footer.css');

.about-photo-container {
  background-image: url('../img/team-mobile.png');
  width: 288px;
  height: 168px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-bottom: 48px;
}

.about-us-logo {
  margin-bottom: 20px;
}

.about-us-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.about-us-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

@media (min-width: 768px) {
  .about-photo-container {
    background-image: url('../img/team-tablet.jpg');
    width: 704px;
    height: 413px;
    margin-bottom: 24px;
  }

  .about-us-logo {
    margin-bottom: 24px;
  }

  .about-us-title {
    margin-bottom: 24px;
  }

  about-us-text {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .about-us {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .about-photo-container {
    background-image: url('../img/team-pc.jpg');
    width: 640px;
    height: 665px;
    margin-bottom: 0px;
  }

  .about-us-title {
    margin-bottom: 24px;
    font-size: 60px;
  }

  about-us-text {
    font-size: 20px;
    line-height: 150%;
  }
}
